body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

.customer-info {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.customer-info h2 {
    font-size: 24px;
    color: #333;
}

.customer-info p {
    font-size: 18px;
    color: #666;
    margin: 10px 0;
}

.customer-info button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.customer-info button:hover {
    background-color: #3e8e41;
}